<div>
  <ul  class="list-group users">
      <li *ngFor="let user of users" class="list-group-item"  [class.active]="currentUser == user" (click)="select(user)">
      <jce-user [user] = 'user'></jce-user>
      </li>
  </ul>
</div>