<div  class="posts">
    <div>
        <span><u>Title:</u></span>
        <span>{{post.title}}</span>
    </div>
    <div>
        <span><h5>Content -</h5></span>
        <p><small>{{post.body}}</small></p>
    </div>
 <!-- <div>
        <span>Author:</span>
        <span>{{post.author}}</span>
        <br>
    </1div> -->
</div>